<turbo-frame class="active-screen-default" id="active-screen">
  <div class="active-screen">
    <div class="main procedures-container">
      <h1 class="comece"> Procedimentos</h1>
      <p> Escolha o procedimento desejado: </p>
      <div class="procedures-bg" 
           data-controller="procedures-carousel"
           data-procedures-carousel-items-per-page-value="4">
        <button class="carousel-button prev" 
                data-procedures-carousel-target="prevButton"
                data-action="click->procedures-carousel#prev">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M15 18l-6-6 6-6"/>
          </svg>
        </button>

        <div class="carousel-container" data-procedures-carousel-target="container">
          <div class="procedure-item" data-procedures-carousel-target="item">
            <%= link_to image_tag("exames/apresentacao.png", alt: "Apresentação", class: "procedures"), procedures_apresentacao_path, remote: true %>
            <p class="procedure-title">Apresentação</p>
          </div>
          <div class="procedure-item" data-procedures-carousel-target="item">
            <%= link_to image_tag("exames/pre-exame.png", alt: "Pré-exame", class: "procedures"), procedures_pre_exame_path, remote: true %>
            <p class="procedure-title">Pré-exame</p>
          </div>
          <div class="procedure-item" data-procedures-carousel-target="item">
            <%= link_to image_tag("exames/acuidade.png", alt: "Acuidade", class: "procedures"), procedures_acuidade_path, remote: true %>
            <p class="procedure-title">Acuidade visual</p>
          </div>
          <div class="procedure-item" data-procedures-carousel-target="item">
            <%= link_to image_tag("exames/biomicroscopia.png", alt: "Biomicroscopia", class: "procedures"), procedures_biomicroscopia_path, remote: true %>
            <p class="procedure-title">Biomicroscopia</p>
          </div>
          <div class="procedure-item" data-procedures-carousel-target="item">
            <%= link_to image_tag("exames/refracao.png", alt: "Refração", class: "procedures"), procedures_refracao_path, remote: true %>
            <p class="procedure-title">Exame de Refração</p>
          </div>
          <div class="procedure-item" data-procedures-carousel-target="item">
            <%= link_to image_tag("exames/tonometria.png", alt: "Tonometria", class: "procedures"), procedures_tonometria_path, remote: true %>
            <p class="procedure-title">Tonometria</p>
          </div>
        </div>

        <button class="carousel-button next" 
                data-procedures-carousel-target="nextButton"
                data-action="click->procedures-carousel#next">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M9 18l6-6-6-6"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</turbo-frame>
