<turbo-frame class="active-screen-default" id="active-screen">
  <div class="active-screen">
    
      <div class="main">

        <h1 class="comece"> Procedimentos</h1>
        <p> Escolha o procedimento desejado: </p>

        <div class="procedures-bg"> 
        
          <%= image_tag "exames/apresentacao.png", alt: "Apresentação", class: "procedures" %>
          <%= image_tag "exames/pre-exame.png", alt: "Pré-exame", class: "procedures" %>
          <%= image_tag "exames/acuidade.png", alt: "Acuidade", class: "procedures" %>
          <%= image_tag "exames/biomicroscopia.png", alt: "Biomicroscopia", class: "procedures" %>
          <%= image_tag "exames/refracao.png", alt: "Refração", class: "procedures" %>
          <%= image_tag "exames/tonometria.png", alt: "Tonometria", class: "procedures" %>

        
        </div>
      
      </div>
  </div>
</turbo-frame>
