<turbo-frame class="active-screen-default" id="active-screen">
  <div class="active-screen">
    
      <div class="main">

        <h1 class="comece"> Apresentação </h1>
        <p> Aqui você entenderá um pouco mais : </p>

        <div class="procedures-bg"> 
        
          <%= link_to image_tag("exames/apresentacao.png", alt: "Apresentação", class: "procedures"), caminho_do_link_1 %>
          <%= link_to image_tag("exames/pre-exame.png", alt: "Pré-exame", class: "procedures"), caminho_do_link_2 %>
          <%= link_to image_tag("exames/acuidade.png", alt: "Acuidade", class: "procedures"), caminho_do_link_3 %>
          <%= link_to image_tag("exames/biomicroscopia.png", alt: "Biomicroscopia", class: "procedures"), caminho_do_link_4 %>
          <%= link_to image_tag("exames/refracao.png", alt: "Refração", class: "procedures"), caminho_do_link_5 %>
          <%= link_to image_tag("exames/tonometria.png", alt: "Tonometria", class: "procedures"), caminho_do_link_6 %>

        </div>
      
      </div>
  </div>
</turbo-frame>
