<div data-controller="menu">
  <div data-menu-target="menu" class="menu">
    <div class="container-menu">
      <div class="upper-menu">
        <%= image_tag "logo.png", class: "logo-menu" %>
        <ul>
          <li class="<%= 'active' if current_page?(instrucoes_path) %>">
            <% if current_page?(instrucoes_path) %>
              <%= image_tag "icon-home-selected.svg", class: "icon", data: { menu_target: "icon" } %>
              <p class="green menu-text" data-menu-target="menuText">Início</p>
            <% else %>
              <%= link_to instrucoes_path, class: "links" do %>
                <%= image_tag "icon-home.svg", class: "icon", data: { menu_target: "icon" } %>
                <p class="menu-text" data-menu-target="menuText">Início</p>
              <% end %>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(procedures_path) %>">
            <% if current_page?(procedures_path) %>
              <%= image_tag "icon-procedures-selected.svg", class: "icon", data: { menu_target: "icon" } %>
              <p class="green menu-text" data-menu-target="menuText">Procedimentos</p>
            <% else %>
              <%= link_to procedures_path, class: "links" do %>
                <%= image_tag "icon-procedures.svg", class: "icon", data: { menu_target: "icon" } %>
                <p class="menu-text" data-menu-target="menuText">Procedimentos</p>
              <% end %>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(opine_path) %>">
            <% if current_page?(opine_path) %>
              <%= image_tag "icon-opine-selected.svg", class: "icon", data: { menu_target: "icon" } %>
              <p class="green menu-text" data-menu-target="menuText">Dê sua opinião!</p>
            <% else %>
              <%= link_to opine_path, class: "links" do %>
                <%= image_tag "icon-opine.svg", class: "icon", data: { menu_target: "icon" } %>
                <p class="menu-text" data-menu-target="menuText">Dê sua opinião!</p>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
      <!-- Imagem que aciona a animação -->
    <%= image_tag "arrow-back", class: "arrow-back", data: { action: 'click->menu#animateMenu', menu_target: "arrow" } %>
    </div>
  </div>
</div>
